@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');
@import url("/normalize.css");

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-color-secondary: #333333;
  
  --primary-color: #ff003c;
  --primary-color-hsl: 346, 100%, 50%;
  
  --gutter-x: 5%;
  --gutter-y: 10px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Tiro Devanagari Sanskrit', serif;
}

.banner {
  background-color: var(--text-color);
  padding: 10px var(--gutter-x);
}

.nav {
  position: sticky;
  background-color: var(--bg-color);
  color: var(--text-color-secondary);
  border-bottom: 1px solid #efefef;
  padding: 0;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav .list-parent {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.nav .list-parent li {
  width: 100%;
}

.nav .list-item {
  border: 0;
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color-secondary);
  text-decoration: none;
  padding: 15px;
  display: block;
  cursor: pointer;
  text-align: center;
}

.nav .list-item:hover {
  z-index: 50;
  background-color: hsla(var(--primary-color-hsl), 0.1);
}

.nav .list-item:focus {
  box-shadow: 0 0 0 1pt hsla(var(--primary-color-hsl), 0.35);
  outline: none;
  transition: 0.1s;
}

.nav .dropdown {
  left: 0;
  right: 0;
  position: absolute;
}

.nav-toggle {
  display: none !important;
  transition: transform 0.3s;
}

.breathing-right {
  margin-right: 5px;
}

.hamburger-icon {
  position: relative;
}

.hamburger-icon::after {
  content: "";
  clear: both;
}

.hamburger-icon div {
  width: 20px;
  margin-bottom: 3px;
  background-color: var(--text-color-secondary);
  height: 1.5px;
  transition: opacity 1s, transform 0.3s;
}

.hamburger-icon.active div:nth-child(1) {
  transform: rotate(-45deg) translateX(-3px) translateY(3px);
  position: absolute;
}

.hamburger-icon.active div:nth-child(2) {
  transform: rotate(45deg) translateX(3px) translateY(3px);
}

.hamburger-icon.active div:nth-child(3) {
  opacity: 0;
  transform: rotate(45deg) translateX(0px) translateY(0px);
}

@media only screen and (max-width: 600px) {
  .nav {
    bottom: 0;
  }

  .nav .list-parent {
    flex-direction: column;
    align-items: stretch;
  }

  .nav .list-item {
    text-align: left;
  }

  .nav-toggle {
    display: block !important;
  }
}

.ripple {
  position: relative;
  overflow: hidden;
}

._ripple {
  position: absolute;
  /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  padding: 0.5rem;
  animation: rippleEnter 0.6s forwards;
  background-color: hsla(var(--primary-color-hsl), 0.3);
}

@keyframes rippleEnter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    transform: scale(2);
    opacity: 1;
  }
}
