@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap");
@import url("./normalize.css");

/* https://www.reddit.com/r/TheHandmaidsTale/comments/gmqryp/no_spoiler_blessed_be_the_fruit_hi_everyone_i_was/ */

:root {
  --bg-color: #ffffff;
  --nav-color: rgba(255,255,255,0.5);
  --text-color: #000000;
  --text-color-hsl: 0, 0%, 0%;
  --text-color-secondary: #333333;

  --primary-color: #b61b1f;
  --primary-color-hsl: 358.45, 74%, 41%;
  
  --handmaid-color-hsl: var(--primary-color-hsl);
  --wife-color-hsl: 192, 64%, 18%;

  --gutter-x: 5%;
  --gutter-y: 40px;

  --loader-length: 40px;
  --loader-diam: calc(var(--loader-length) * 0.1);
}

body {
  padding: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: "Tiro Devanagari Sanskrit", serif;
  transition: background-color 0.2s;
}

hr {
  border: none;
  border-top: hsla(var(--text-color-hsl),0.2) solid 1px;
}

.app {
  background-color: hsla(var(--primary-color-hsl), 0.1);
  border: solid 1px hsla(var(--primary-color-hsl), 0.1);
}

.gutter-x {
  padding-left: var(--gutter-x);
  padding-right: var(--gutter-x);
}

.gutter-y {
  padding-bottom: var(--gutter-y);
  padding-top: var(--gutter-y);
}

.banner {
  background-color: var(--bg-color);
  padding: 10px var(--gutter-x);
  color: var(--text-color);
  text-align: center;
}

.nav {
  position: sticky;
  background-color: var(--nav-color);
  backdrop-filter: blur(5px);
  color: var(--text-color-secondary);
  padding: 0;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
}

.nav .inline-list-parent {
  justify-content: space-between !important;
  flex-direction: row !important;
}

.nav .inline-list-parent li {
  width: fit-content !important;
}

.nav .list-parent {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav .list-parent li {
  width: 100%;
}

.nav .list-item {
  border: 0;
  position: relative;
  background-color: transparent;
  color: var(--text-color-secondary);
  padding: 15px;
  display: block;
  cursor: pointer;
  text-align: center;
}

.nav .list-item:hover {
  z-index: 50;
  background-color: hsla(var(--primary-color-hsl), 0.1);
}

.nav .list-item:focus {
  box-shadow: 0 0 0 1pt hsla(var(--primary-color-hsl), 0.35);
  z-index: 50;
  outline: none;
  transition: 0.1s;
}

.nav .nav-items .list-item.active {
  outline: dotted 1px var(--primary-color);
}

.nav .dropdown {
  left: 0;
  right: 0;
  position: absolute;
}

.nav-toggle {
  display: none !important;
  transition: transform 0.3s;
  height: 45px;
}

.breathing-right {
  margin-right: 5px;
}

.ripple {
  position: relative;
  overflow: hidden;
}

._ripple--enter {
  position: absolute;
  /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  padding: 0.5rem;
  animation: rippleEnter 0.6s forwards;
  background-color: hsla(var(--primary-color-hsl), 0.3);
}

._ripple--leave {
  animation: rippleLeave 0.6s;
}

@keyframes rippleEnter {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(2);
  }
}

@keyframes rippleLeave {
  from {
    transform: scale(2);
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

#colorSchemeInput {
  display: none;
}

label.colorSchemeButton {
  color: #ffa500 !important;
}

.hamburger-icon {
  position: relative;
}

.hamburger-icon::after {
  content: "";
  clear: both;
}

.hamburger-icon div {
  width: 20px;
  margin-bottom: 3px;
  background-color: var(--text-color-secondary);
  height: 1.5px;
  transition: opacity 1s, transform 0.3s;
}

.hamburger-icon.active div:nth-child(1) {
  transform: rotate(-45deg) translateX(-2px) translateY(2px);
  position: absolute;
}

.hamburger-icon.active div:nth-child(2) {
  transform: rotate(45deg) translateX(2px) translateY(2px);
}

.hamburger-icon.active div:nth-child(3) {
  opacity: 0;
  transform: rotate(45deg) translateX(-1px) translateY(-1px);
}

.eye-container .eye {
  width: 15px;
  height: 15px;
  border: solid 2px;
  border-radius: 75% 15%;
  transform: rotate(45deg);
  overflow: hidden;
}

.eye-container .eye-ball {
  width: 15px;
  height: 15px;
}

.eye-container .eye-iris {
  display: block;
  width: 5px;
  height: 5px;
  border: solid 2px;
  border-radius: 50%;
}

.eye-container .eye-ball.iris-center {
  transform: none !important;
}

.eye-container .eye-ball.iris-center .eye-iris {
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
}

.loader {
  display: inline-block;
  border: var(--loader-diam) solid var(--text-color);
  border-radius: 50%;
  border-top: var(--loader-diam) solid transparent;
  width: var(--loader-length);
  height: var(--loader-length);
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 25px;
  border: solid 1px var(--text-color);
}

.alert-warning {
  background-color: hsla(var(--primary-color-hsl), 0.2);
  border: solid 1px hsla(var(--primary-color-hsl), 0.3);
}

.alert-icon {
  font-size: x-large;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }

  .nav {
    bottom: 0;
  }
  
  

  .nav .list-parent {
    flex-direction: column;
    align-items: stretch;
  }

  .nav .list-item {
    text-align: left;
  }

  .nav-toggle {
    display: block !important;
  }
}
